@import 'variables';
@import 'fonts';
@import 'mixins';

html, body {
  padding: 0;
  margin: 0;
  border: 0;
  @include font_rendering;
} 

body {
  color: #4f5554;
  background: #fff;
  text-align: center;
  width: 360px;
}

@import 'partial/settings';
