@import 'fonts';

@mixin georgia() {
  font: {
    family: Georgia, 'Times New Roman', Times, serif;
    style: italic;
  }
}

@mixin pt_sans_narrow($weight: normal) {
  font: {
    family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;;
    weight: $weight;
  }
}

html, body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'avantgardegothicc';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

body {
  color: #4f5554;
  background: #fff;
  text-align: center;
  width: 360px;
}

h1 {
  color: #5ca9a4;
  @include pt_sans_narrow(bold);
  font-size: 33px;
  margin: 15px 0 0;
}

h2 {
  @include georgia;
  font: {
    weight: normal;
    size: 20px;
  }
  margin: -2px 0 23px;
}

.wrapper { 
  background: #4f5554; 
  color: #eeeeee;
  font-size: 15px;

  .row {
    padding: 18px 0 10px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 16px;
      right: 16px;
      bottom: 0;
      border-top: 1px solid #3f4443;
      border-bottom: 1px solid #636a69;
    }

    .num {
      position: relative;
    }

    .units {
      position: absolute;
      bottom: -6px;
      left: 100%;
      margin-left: 6px;
    }
  }

  .details {
    padding: 18px 0 0;
  }

  .text {
    @include pt_sans_narrow();  
  }

  .secondary {
    color: #8f9d9b;
  }

  .num {
    color: #cfaf58;
    font-size: 34px;
    @include pt_sans_narrow(bold);
    display: inline-block;
    line-height: 1.2em;
  }

  .units {
    @include georgia;
    font: {
      size: 18px;
      weight: normal;
    }
    display: inline-block;
    color: #eeeeee; 
  }

  .slider {
    position: relative;
    overflow: hidden; 
    padding-left: 56px;
    margin-top: 10px;

    .arrow {
      position: absolute;
      top: 0;
      z-index: 1;
      cursor: pointer;
      
      width: 56px;
      height: 100%;
      background: #3f4443 url(../images/arrow.png) no-repeat 22px center;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
        transform: rotate(180deg);
      }
    }

    .container {
      display: table;
      position: relative;
    }

    .item {
      background: #636a69;
      display: table-cell;
      // vertical-align: bottom;
      vertical-align: middle;
      padding: 0 14px 0; 
      height: 98px;
      border-left: 2px solid #4f5554;
      position: relative;

      .text {
        color: #8f9d9b;
        @include pt_sans_narrow();
        font-size: 16px;
      }

      .num {
        font-size: 30px;
      }

      .units {
        font-size: 14px;
      }

      &.active {
        background: #767e7d;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -6px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 6px 0 6px;
          border-color: #4f5554 transparent transparent transparent;
        }


        .text {
          color: #eeeeee;
        }
      }
    }
  }
}

