//- состояния:
//- start - запусти таймер
//- day - какой сейчас день, 1,2,3

extends ./_window.jade
block content
  - var totalDays = 3;

  .wrapper

    if start
      .head1 Запустите таймер
      .head2 и контролируйте время, потраченное на Facebook!

    if day
      .head1 Помните,
      .head2 вы обещали не более 5 минут в день на Facebook?
      .progress
        .progress-bar(style="width: #{ Math.round(day / totalDays * 100) }%") 
        .label #{ day }/#{ totalDays }
    
    if start
      .half-grey
        .tr-block Сможете проводить не более 5 минут в день на Facebook всего 3 дня? Тогда вас ждет награда -месяц бесплатного доступа в онлайн-библиотеку саммари полезных книг smartreading.ru! 
    
    if day

      .half-grey 
        .tr-block
          | Осталось 
          if day == 1
            | <em>2 дня</em> 
          if day == 2
            | <em>1 день</em> 
          if day == 3
            | день до конца 
          | и вы сможете месяц бесплатно <br>читать саммари на <a href="#">smartreading.ru</a>!

  if start    
    .button.green 
      .wr  Запустить таймер
    .button.red
      .wr Начну завтра

  if day
    .button.green
      .wr
        | Закрыть Facebook 
        span.small и почитать книгу на Smartreading.ru

    .button.red
      .wr Продолжить прокрастинировать

