- data = (data || {});
- var stats = data.stats || []
- var m = Math.round(stats.reduce(function(a,b) { return a+b;}) / 60);
- var b = Math.round(m / 30 * 10) / 10

.wrapper
  .head1 Настройки
  .head2 и статистика эксперимента

.total_time.row
  .text Сколько минут ты провел в Facebook за время эксперимента?
  .num 
    span= m
    .units мин

.total_books.row
  .text 
    | За это время ты бы прочитал 
    span.secondary (книг в нашей библиотеки)
  .num
    span= b
    .units книг

.details
  .text Сколько минут каждый день ты проводишь в facebook?
  .sr-slider
    .arrow.left
    .arrow.right
    .container
      each d in stats
        .item.active(today)
          .text 
            | Пн
            |, 
            | 24.05
          .num 
            |00
            |:
            |00

          .units мин/сек